In [26]:
import os
import pathlib
import pandas as pd


default_data_path = 'c:\\Users\\tickn\\ml\\EE257\\datasets\\Default.csv'
df = pd.read_csv(default_data_path)

In [27]:
df.head()

   Unnamed: 0 default student      balance        income
0           1      No      No   729.526495  44361.625074
1           2      No     Yes   817.180407  12106.134700
2           3      No      No  1073.549164  31767.138947
3           4      No      No   529.250605  35704.493935
4           5      No      No   785.655883  38463.495879

In [28]:
df.loc[:,'default'].replace('Yes',1,inplace=True)
df.loc[:,'default'].replace('No',0,inplace=True)
df.head()

   Unnamed: 0  default student      balance        income
0           1        0      No   729.526495  44361.625074
1           2        0     Yes   817.180407  12106.134700
2           3        0      No  1073.549164  31767.138947
3           4        0      No   529.250605  35704.493935
4           5        0      No   785.655883  38463.495879

In [29]:
df.describe()

        Unnamed: 0       default       balance        income
count  10000.00000  10000.000000  10000.000000  10000.000000
mean    5000.50000      0.033300    835.374886  33516.981876
std     2886.89568      0.179428    483.714985  13336.639563
min        1.00000      0.000000      0.000000    771.967729
25%     2500.75000      0.000000    481.731105  21340.462903
50%     5000.50000      0.000000    823.636973  34552.644802
75%     7500.25000      0.000000   1166.308386  43807.729272
max    10000.00000      1.000000   2654.322576  73554.233495

In [30]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [31]:
# Data split for Validation Set CV

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


X = df.loc[:,["balance" , "income"]]
y = df.loc[:, "default"]

random_seeds = [10, 42, 69]
i = 0
for seed in random_seeds:
    x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.5,random_state=seed)
    model.fit(x_train, y_train)
    predict = model.predict(x_test)
    test_mse = mean_squared_error(y_test, predict)
    i+=1
    print("Validation Set Split %d: test MSE = %f" %(i , test_mse))

Validation Set Split 1: test MSE = 0.033000
Validation Set Split 2: test MSE = 0.032200
Validation Set Split 3: test MSE = 0.025600

In [32]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

k_model = LogisticRegression()

for i in range(3):
    kf = KFold(n_splits=5,shuffle=True)
    result = cross_val_score(k_model, X,y,scoring='neg_mean_squared_error',cv=kf)
    index = i+1
    print("K-fold split %d: " %index + str(result))

K-fold split 1: [-0.0265 -0.0385 -0.025  -0.029  -0.029 ]
K-fold split 2: [-0.026  -0.0365 -0.0255 -0.033  -0.033 ]
K-fold split 3: [-0.03   -0.025  -0.04   -0.0295 -0.0295]

In [33]:
from sklearn.model_selection import LeaveOneOut

loov_model = LogisticRegression()

for i in range(3):
    loov = LeaveOneOut()
    result = cross_val_score(loov_model, X,y,scoring='neg_mean_squared_error',cv=loov)
    index = i+1
    print("LOOV split %d: " %index + str(result))

LOOV split 1: [-0. -0. -0. ... -0. -0. -0.]
LOOV split 2: [-0. -0. -0. ... -0. -0. -0.]
LOOV split 3: [-0. -0. -0. ... -0. -0. -0.]